# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
*.bak
.wrangler
.vercel

# Data & Large Files
*.sql
*.json
*.txt
*.csv
!package.json
!tsconfig.json
!vercel.json
!wrangler.jsonc
admin-dashboard/
dist/
dist-ssr/
node_modules/
*.mp4
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
